.gallery {
  color: white;
  font-family: 'Space Mono', monospace;
}

.gallery h1 {
  font-size: 94px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.gallery .gallery__grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 2rem
}

.gallery .gallery__left {
  display: flex;
  flex-direction: column;
}

.gallery .gallery__right {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 769px) {
  .gallery h1 {
    font-size: 6vw;
  }

  .gallery .gallery__grid {
    gap: 0;
    grid-template-columns: 1fr;
    margin: 14px;
  }
}