.gallery-image {
  position: relative;

  flex-shrink: 0;
  flex-grow: 0;

  margin-top: 10px;
  margin-bottom: 10px;
}

.gallery-image img {
  width: 100%;
  height: auto;
}

.gallery-image .gallery-image__label {
  transform: translateY(100%);
  transition: 0.5s all;
  opacity: 0;
  position: absolute;
  bottom: 6px;
  left: 0;
  background: #0CC6FF;
  padding: 16px;
  color: white;
  font-family: 'Space Mono', monospace;
}

.gallery-image:hover .gallery-image__label {
  opacity: 1;
  transform: translateY(0);
}

@media screen and (max-width: 769px) {
  .gallery-image .gallery-image__label {
    padding: 8px;
    font-size: 1rem;
  }
}