@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

.navbar {
  margin-top: 34px;
}

.navbar .navbar__logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navbar .navbar__nav {
  list-style-type: none;
  padding-inline-start: 0;
  margin-block-start: 40px;

  font-size: 12px;
  font-family: space;
  font-family: 'Space Mono', monospace;
  color: white;

  display: flex;
  justify-content: space-between;
}

.navbar .navbar__nav li:hover{
  color: #0CC6FF;
  cursor: pointer;
}