.footer {
  color: white;
  padding-top: 20px;
  padding-bottom: 40px;
  margin-top: 70px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.footer .footer__caption {
  font-family: 'Space Mono', monospace;
}

.footer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background:#0CC6FF;
}